{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% block header_title %}
    <h1>Hello eZ Conference</h1>
{% endblock %}

{% block content %}

{{ render_esi(url('hello')) }}

{% endblock %}

{%block title%}Hello eZ Conference{% endblock %}
