.ez-view-dpsubitemrandomgifview {
    margin: 1em;
}

.ez-view-dpsubitemrandomgifview img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.ez-view-subitemboxview .ez-switch-subitemview[data-view-identifier="randomgif"]:before {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    content: ":-)";
    display: inline-block;
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
}
