.ez-view-dpdashboardblockrandomgifview img {
    max-width: 100%;
}

.ez-view-dpdashboardblockrandomgifview .ez-block-wrapper {
    text-align: center;
}


.ez-view-dpdashboardblockrandomgifview fieldset {
    margin-bottom: 1em;
}
